.bg{
    background: url('../../../assets/images/1254.png')  no-repeat ;
    background-size:cover ;
    width: 100%;
    height:100vh;
}

.container {
    max-width: 550px;
    background-attachment: fixed;
    background-color:transparent;
    
}


