<div class="container-fluid bg">
    <div class="container mt-5" >
        <div class="card">
            <h5 class="card-header text-center">Update Analyse </h5>
            <div class="card-body">
  
    <a href="#" routerLink="analyse/resultat" class="btn btn-primary">Back</a>
        
    <form [formGroup]="angform" (ngSubmit)="postdata(angform)" autocomplete="off">
  
        <div class="form-group">
           
      <input type="hidden" name="id_resultat" formControlName="id_resultat"  class="form-control input-sm">
      
        </div>
        <div class="form-group">
            <label for="num_analyse"> N° Analyse</label>
                <input type="number" name="num_analyse" formControlName="num_analyse" autocomplete="off" class="form-control input-sm" placeholder="Id Resultat">
    
            </div>
        <div class="form-group">
        <label for="nom_resultat"> Nom Analyse</label>
            <input type="text" name="nom_resultat" formControlName="nom_resultat" autocomplete="off" class="form-control input-sm" placeholder="Nom Resultat">

        </div>
        <div class="form-group">
        <label for="valeur_resultat">Valeur Resultat</label>
        <input type="text" name="valeur_resultat" formControlName="valeur_resultat" autocomplete="off" class="form-control input-sm" placeholder="Valeur Resultat">
         </div>
         
    
        <button class="btn btn-primary" type="submit" [disabled]="!angform.valid">Update</button>
    </form>
</div>
</div>
</div>
</div>

