
  <div class="container">
    <h1>User Details</h1>
    
    <div class="card-group mb-5"  >
        <div class="card">
            <div class="card-header">Information</div>
            <div class="card-body">
                <p class="card-text">Name:{{userDetails.name}}</p>
                <p class="card-text">Email:{{userDetails.email}}</p>
                <p class="card-text">Created_at:{{userDetails.created_at}}</p>
                
                <a  class="btn btn-info" (click)="SignOut()">Logout</a>
            </div>
          
        </div>
        </div>
        </div>