
    
  
 <div class="container-fluid bg">
    <div class="container mt-5" >
        <div class="card">
            <h5 class="card-header text-center">Forget Password</h5>
            <div class="card-body">
                <div class="panel-body p-3">
                    <form (ngSubmit)="onSubmit(forgetForm)" #forgetForm="ngForm" >
                       
                     <div class="form-group py-2">
                        <div class="input-field"> <span class="far fa-user p-2"></span>
                             <input type="email" name="email" placeholder="Enter a valid email address" 
                             ngModel>
                     </div>
                    </div>
                        
                        
                        
                        
                        <div type="submit" class="btn btn-primary btn-block mt-3"> Envoyer</div>
                        <div class="text-center pt-4 text-muted">Confirmer votre mot de passe ? <a routerLink="/reset-password">Confirmer</a> </div>                        
                    </form>
                </div>
               
            </div>
        </div>
    </div>
</div>
  
  
  
  
  
    

  
  
  
  
  

