
  
<div class="container-fluid bg">
    <div class="container mt-5" >
        <div class="card">
            <h5 class="card-header text-center">Register</h5>
            <div class="card-body">
                <div class="panel-body p-3">
                    <form (ngSubmit)="submit()" [formGroup]="form" >
                        <div class="form-group py-2">
                            <div class="input-field"> 
                                <span class="far fa-user p-2"></span>
                                 <input type="text" 
                                placeholder="Username "
                                type="text" formControlName="name" name="name" placeholder="Enter votre nom" 
                                [ngClass]="{'is-invalid ': submitted && f['name'].errors}">
                                <div *ngIf="submitted && f['name'].errors" class="invalid-feedback">
                                    <div *ngIf="f['name'].errors['required']">
                                     Name is required
                                    </div>
        

                        </div>
                     </div>
                     <div class="form-group py-2">
                        <div class="input-field"> <span class="far fa-user p-2"></span>
                             <input type="text" 
                            placeholder="Username or Email"
                            type="text" formControlName="email" name="email" placeholder="Enter a valid email address"
                    [ngClass]="{'is-invalid' : submitted && f['email'].errors}" required>
                    <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
                        <div *ngIf="f['email'].errors['required']">
                         Email is required
                        </div>
                        <div *ngIf="f['email'].errors['email']">
                            Email must be a valid email adresss
                           </div>

                    </div> </div>
                    </div>
                        </div>
                        <div class="form-group py-1 pb-2">
                            <div class="input-field"> <span class="fas fa-lock px-2"></span>
                                 <input type="password" formControlName="password"  name="password" placeholder="Enter password" 
                                 [ngClass]="{'is-invalid ': submitted && f['password'].errors}" 
                                 required>
                                 <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
                                    <div *ngIf="f['password'].errors['required']">
                                     Password is required
                                    </div>
                                    <div *ngIf="f['password'].errors['minlength']">
                                        Password must be at least 6 characters
                                       </div>
                                </div>
                                  <button class="btn bg-white text-muted"> <span class="far fa-eye-slash"></span> </button> </div>
                        </div>
                        <div class="form-group py-1 pb-2">
                            <div class="input-field"> <span class="fas fa-lock px-2"></span>
                                 <input type="password" formControlName="confirmPassword" name="password_confirmation" placeholder="Enter Confirm password" 
                                 [ngClass]="{'is-invalid ': submitted && f['confirmPassword'].errors}">
                                 <div *ngIf="submitted && f['confirmPassword'].errors" class="invalid-feedback">
                                     <div *ngIf="f['confirmPassword'].errors['required']">
                                     Confirm Password is required
                                     </div>
                                     <div *ngIf="f['confirmPassword'].errors['mustMatch']">
                                      Confirm Password must match
                                        </div>
                                </div>
                                  <button class="btn bg-white text-muted"> <span class="far fa-eye-slash"></span> </button> </div>
                        </div>
                        
                        <div type="submit" class="btn btn-primary btn-block mt-3"> SignUp</div>
                        <div class="text-center pt-4 text-muted">Deja un compte ? <a routerLink="/login">Login</a> </div>                        
                    </form>
                </div>
               
            </div>
        </div>
    </div>
</div>
  
  
  
  
  